* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}


header {
  padding: 45px 15px;
}

section {
  min-height: 200px;
  padding: 30px 15px;

}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
  font-size: 1.3em;
}

p + p {
  margin-top: 15px;
}

#piechart {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.App-logo {
  height: 47px;
  margin: auto 0;
}

.link-account {
  padding-top: 100px;
  padding-bottom: 100px;
}

.link-bank {
  padding-bottom: 20px;
}

.link-crypto {
  padding: 10px;
}

button {
  border: 1px solid black;
  cursor: pointer;
}


.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 70%;
  margin-bottom: 30px;
  z-index: 10;
  background: transparent;
}

footer {
  background: transparent;
}

.signup-form {
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-circle {
    width: 60px;
    height: 60px;
    padding: 6px 0px;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
