

.rank-number {
  margin: 0;
  padding: 1px;
}

.icon-coin {
  height: 20px;
  width: auto;
  padding-right: 5px;

}

.button-coin {
  text-align: left;
  border: none;
  background: transparent;
  font-size: 80%;
}

.coin-row {
  min-width: 200px;
  max-width: 320px;
}

.myFont {
  font-size: 80%;
}
