
.rank-number {
  margin: 0;
  padding: 1px;
}

.icon-coin {
  height: 20px;
  width: auto;
  margin-right: 5px;

}


.coin-row {
  text-align: left;
  box-shadow: 1px 3px 8px lightgray;
  background: transparent;
  border: none;
  white-space: nowrap;
  width: 130px;
}

.myFont {
  font-size: 70%;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;

}

.btn-font {
  font-family: 'Helvetica', sans-serif;
  overflow: hidden;
}
