
.rank-number {
  margin: 0;
  padding: 1px;
}

.icon-coin {
  height: 20px;
  width: auto;
  margin-right: 5px;

}


.coin-row {
  text-align: left;
  box-shadow: 4px 6px 4px lightgray;
  background: transparent;
  border: none;
  white-space: nowrap;
  width: 130px;
}

.myFont {
  font-size: 70%;
}
