* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav {
  background-color: #aaa;
  max-height: 60px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 45px 15px;
}

section {
  min-height: 200px;
  padding: 30px 15px;

}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
  font-size: 1.3em;
}

p + p {
  margin-top: 15px;
}

#piechart {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.App-logo {
  height: 40px;
  margin: auto 0;
}

.link-account {
  padding-top: 20%;
}

.link-bank {
  padding-bottom: 100px;
}

.link-crypto {
  padding: 10px;
}

.go-to-dash {
  padding-top: 30px;
  padding-bottom: 10px;
}

button {
  border: 1px solid black;
  cursor: pointer;
}

.feedback-button {
  color: white;
  background-color: #1a93cc;
  box-shadow: 1px 2px orange;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: transparent;
}
footer {
  background: transparent;
}

.signup-form {
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
